*
{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.header
{
    height:100px;
    background-color: rgba(128,128,128,0.5);
    position:fixed;
    left:0;
    right:0;
}
.overlay
{
    position:fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background-color:rgba(0,0,0,0.8);
}
.modal
{
    background-color: #ffffff;
    width: 500px;
    height: 200px;
    padding:50px;
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-250px;
    margin-top: -100px;
}
.knopka
{
    width:50px;
    height: 50px;
    background-color: #990000;
    position: fixed;
    right:10px;
    bottom:10px;
    border-radius: 50px;
}
